---
language: ruby
dist: bionic
rvm:
- 2.6.6
- 2.7.2
arch:
- amd64
- ppc64le
cache:
  bundler: true
  directories:
  - "$HOME/.cache/go-build"
  - "$HOME/gopath/pkg/mod"
before_script:
- eval "$(gimme 1.14)"
- travis_wait curl -L https://github.com/operator-framework/operator-sdk/releases/download/v0.18.2/operator-sdk-v0.18.2-$(uname
  -m)-linux-gnu -o /home/travis/bin/operator-sdk && chmod +x /home/travis/bin/operator-sdk
script:
- bundle exec rspec
