[Unit]
Description=Initialize Appliance Database
After=evminit.service memcached.service
Before=evmserverd.service
[Service]
TimeoutStartSec=10m
Type=oneshot
ExecStartPre=/usr/bin/sleep 30
ExecStart=/bin/appliance-initialize.sh
ExecStartPost=/usr/bin/systemctl disable appliance-initialize
[Install]
WantedBy=multi-user.target
