name: CI
on:
  pull_request:
  push:
    branches-ignore:
    - dependabot/*
    - renovate/*
  schedule:
  - cron: 0 0 * * *
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - '3.3'
    steps:
    - uses: actions/checkout@v6
    - name: Before install
      run: bin/before_install
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby-version }}"
        bundler-cache: true
      timeout-minutes: 30
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        cache-dependency-path: manageiq-operator/go.sum
        check-latest: true
        go-version: stable
    - name: Run ruby tests
      run: bundle exec rake
    - name: Run golang tests
      run: |
        make test
        make build
        make docker-build
      working-directory: "./manageiq-operator"
