name: Update Go Dependencies
on:
  schedule:
  - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  go_dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        cache-dependency-path: manageiq-operator/go.sum
        check-latest: true
        go-version: stable
    - name: Update all dependencies
      run: |
        go get -t -u ./...
        go mod tidy
      working-directory: "./manageiq-operator"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        add-paths: |
          manageiq-operator/go.mod
          manageiq-operator/go.sum
        commit-message: Update go dependencies
        branch: update_go_dependencies
        assignees: bdunne
        author: ManageIQ Bot <bot@manageiq.org>
        committer: ManageIQ Bot <bot@manageiq.org>
        delete-branch: true
        labels: dependencies
        push-to-fork: miq-bot/manageiq-pods
        title: Update go dependencies
        body: Update the operator dependencies in go.mod
        token: "${{ secrets.PR_TOKEN }}"
